<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243878506134-q3ucuv6rgajrpstckb76d8r9jc4rcg0m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243878506134-q3ucuv6rgajrpstckb76d8r9jc4rcg0m</string>
	<key>API_KEY</key>
	<string>AIzaSyA_IXBQiiXDuSOYr9gfTV0MI0V2AKnFY8M</string>
	<key>GCM_SENDER_ID</key>
	<string>243878506134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterthailand.unghairdresser</string>
	<key>PROJECT_ID</key>
	<string>ungharidresser</string>
	<key>STORAGE_BUCKET</key>
	<string>ungharidresser.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243878506134:ios:e1be7f0024f6e57b4f9cb7</string>
</dict>
</plist>